@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Oswald|Source+Code+Pro&display=swap');
/*
	Fuentes:
	font-family: 'Oswald', sans-serif;
	font-family: 'Source Code Pro', monospace;
	font-family: 'Noto Sans TC', sans-serif;
*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif;
}

/*Variables*/
:root {
	/*Colores*/
	--color-primario: #008585;			/*Color de enfasis primario*/
	--color-secundario: #009D9D;		/*Color secundario*/
	--color-light: #FFFFFF;				/*Color claro*/
	--color-light-contrast:#F5FBFE;		/*Color claro de contraste*/
	--color-dark: #273958;				/*Color modo oscuro*/
	--color-dark-contrast: #1A2540;		/*Color modo oscuro de contraste*/
	/*Tamaños*/
	--size-ancho-general: 80%;
	--size-alto-campo: 50px;
	--size-alto-boton: 50px;
	--size-padding-elements: 10px;
	--size-margen-entre-elementos: 10px;
	--size-padding-section: 60px;
	--size-border-radio: 6px;
	--size-text-nivel-1: 18px;
	--size-text-nivel-2: 16px;
	--size-text-nivel-3: 14px;
	--size-text-general: 12px;
	--size-text-legal: 10px;
	/*Sombras*/
	/*Bordes*/
	--border-general: solid 1px var(--color-primario);
}

/**/
.content_toggle {
	display: none;
}

/*Alineadores*/
.content_align_vertical {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-basis: auto;
	flex-wrap: wrap;
}

	.content_align_vertical	.child {
		flex-grow: 1;
		margin-left: var(--size-margen-entre-elementos);
	}

	.content_align_vertical	.child:first-child {
		margin-left: 0px;
	}

/*Paleta de colores*/
.colors	{
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

	.colors .align_colors {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		flex-basis: auto;
		flex-wrap: wrap;
	}
	
	.colors .align_colors .color {
		flex-grow: 1;
		line-height: 100px;
		height: 100px;
		width: 100px;
		padding: 0px 20px;
		text-align: center;
	}

/*Definición de colores*/
.primario {
	color: var(--color-light);
	background-color: var(--color-primario);
}

.secundario {
	color: var(--color-light);
	background-color: var(--color-secundario);
}

.light {
	color: var(--color-dark);
	background-color: var(--color-claro);
}

.light-contrast {
	color: var(--color-dark);
	background-color: var(--color-light-contrast);
}

.dark {
	color: var(--color-light);
	background-color: var(--color-dark);
}

.dark-contrast {
	color: var(--color-light);
	background-color: var(--color-dark-contrast);
}

/*Tamaño de elementos*/
h1 { font-size: var(--size-text-nivel-1); }
h2 { font-size: var(--size-text-nivel-2); }
h3 { font-size: var(--size-text-nivel-3); }
p { font-size: var(--size-text-general); }

/*Generales*/
.container {
	width: var(--size-ancho-general);
	margin: auto;
}

/*Secciones*/
section {
	padding-top: var(--size-padding-section);
	padding-bottom: var(--size-padding-section);
}

	section:nth-child(2n) {
		background-color: var(--color-light-contrast);
	}

/*Formato de lineas en entradas*/
.input {
	display: block;
}

	.input label {
		font-size: var(--size-text-general);
		display: block;
		margin-bottom: var(--size-margen-entre-elementos);
	}

/*Formato de elementos de entrada*/
input,
select,
textarea,
div.textarea {
	display: block;
	width: 100%;
	outline: none;
	line-height: var(--size-alto-campo);
	border-radius: var(--size-border-radio);
	border: none;
	padding: 0px var(--size-padding-elements);
	font-size: var(--size-text-general);
	border: var(--border-general);
	resize: none;
	background-color: transparent;
}

	input,
	select {
		height: var(--size-alto-campo);
	}

	textarea,
	div.textarea {
		line-height: calc(var(--size-alto-campo) / 2);
		height: calc(var(--size-alto-campo) * 5);
		font-family: 'Source Code Pro', monospace;
	}

/*Botones*/
.button {
	display: block;
	width: auto;
	height: var(--size-alto-boton);
	line-height: var(--size-alto-boton);
	border-radius: var(--size-border-radio);
	overflow: hidden;
	padding-left: var(--size-padding-elements);
	cursor: pointer;
	user-select: none;
}

	.button p {
		float: left;
	}

	.button i,
	.button span {
		float: right;
		line-height: inherit;
		width: var(--size-alto-boton);
		text-align: center;
	}